{% extends 'base.html' %}
{% load static %}

{% block title %} ParaBook{% endblock %}

{% block content %}

<section class="comunidades-salvas">
    <h3>Comunidades que você participa</h3>

    <div id="lista-comunidades-salvas">
        {% for comunidade in comunidades %}
            <div class="card">
                <h4>{{ comunidade.nome }}</h4>
                <p>{{ comunidade.descricao }}</p>
            </div>
        {% empty %}
            <p>Você ainda não participa de nenhuma comunidade.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}