<div class="card-comunidade">

    <div class="card-header">
        <h2>{{ comunidade.nome }}</h2>
    </div>

    <div class="card-body">
        <p>{{ comunidade.descricao }}</p>
    </div>

    <div class="card-footer">

        <a href="{% url 'comunidades:detail' comunidade.id %}">
            Entrar
        </a>

        {% if user.is_staff %}
            <a href="{% url 'comunidades:update' comunidade.id %}">
                Editar
            </a>

            <a href="{% url 'comunidades:delete' comunidade.id %}">
                Excluir
            </a>
        {% endif %}

    </div>

</div>